/* body{
     font-family: 'Lato', sans-serif;
} */


h1{
    font-family: 'Courier New', Courier, monospace;
    font-style: normal;
}

h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: lighter;
    font-size: 16px;
}

p{
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}